<h1>{{canonicalTitle}}</h1>

<div>
    <ul>
        <li>
            <strong>English</strong>
            <span>{{titles.en}}</span>
        </li>
        <li>
            <strong>Japanese</strong>
            <span>{{titles.ja_jp}}</span>
        </li>
        <li>
            <strong>Japanese (Romaji)</strong>
            <span>{{titles.en_jp}}</span>
        </li>
    </ul>
    <p>xxx: {{ posterImage.tiny }}</p>
    <p>Rating: {{ ratingRank}}</p>
    <p>Aired: {{ startDate}} to {{ endDate}}</p>
</div>