<!--

<hr>

<div class="w3-row">
  <div class="w3-col m4 l3">
    <img src="{{attributes.posterImage.tiny}}" class="card-img-top" alt="Anime">
  </div>
  <div class="w3-col m8 l9">
    <h6>Anime Details of {{canonicalTitle}}</h6><hr>
    <p>Rating: {{averageRating}}</p><hr>
    <p>Synopsis: {{Synopsis}}</p><hr>
    <p>Description: {{description}}</p><hr>
    <p>Start Date: {{startDate}}</p><hr>
    <p>End Date: {{ endDate}} </p><hr>
    <p>Age Guide: {{ageRating}}</p><hr>
    <p>Episode Length: {{episodeLength}} minutes</p>
    <p>Status: {{Status}}</p>
    
  </div>
</div>

<hr>

-->
<p> Content is under development</p>